.about {
  text-align: center;
  margin: 0 auto 30px;
  cursor: pointer;
  max-width: 500px;

  @mixin atMedium {
    margin: 0 auto;
  }

  &--last {
    margin-bottom: 0;
  }

  &__icon {
    width: 100%;
    font-size: 44px;
  }

  &:hover &__icon, &:hover &__title {
    color: #c7b299;
  }

  i {
    display: block;
  }

  &__title {
    font-size: 22px;
    margin: 30px 0 20px 0;
    font-family: 'Raleway', sans-serif;
    font-weight: 600;
  }
}
